
{% extends 'base.html'%}
{% block content %}

<div class="jumbotron text-center">
    <h1> Minute  <strong>Pitch...</strong> </h1>
</div>




<div class="container">
    <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
        <li class="nav-item">
            <a id="cats" class="nav-link" data-toggle="tab" href="#all"><strong>All Pitches</strong> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#interview" style="font-weight: bold;">Interview
                Pitches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#pickupline" style="font-weight: bold;">Pickupline
                Pitches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#advertisement" style="font-weight: bold;">Advertisement
                Pitches</a>
        </li>
    </ul>

    <div  class="tab-pane active" id="all"><br>
        {{ macro.displayPitchList(pitches) }}
    </div>
    <div  class="tab-pane fade" id="product"><br>
        {{ macro.displayPitchList(products) }}
    </div>
    <div  class="tab-pane fade" id="lyrics"><br>
        {{ macro.displayPitchList(lyrics) }}
    </div>
    <div  class="tab-pane fade" id="pick-upline"><br>
        {{ macro.displayPitchList(pickuplines) }}
    </div>
    <div  class="tab-pane fade" id="advertisement"><br>
        <h1>Advertisement</h1>
        {{ macro.displayPitchList(advert) }}
    </div>
  
{% endblock%}