{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
    
        <div  class="container" id="particles-js" style="box-sizing: content-box;">
            <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
                <li class="nav-item" >
                    <a id ="cats" class="nav-link" data-toggle="tab" href="#all"><strong>All Pitches</strong> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id ="cats" data-toggle="tab" href="#product">Product Pitches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id ="cats" data-toggle="tab" href="#pickupline">Pickupline Pitches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id ="cats" data-toggle="tab" href="#sales">Sales Pitches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id ="cats"data-toggle="tab" href="#personal">Personal Pitches</a>
                </li>
            </ul>
        </div>

        <div class="tab-content" style="box-sizing: border-box;">
          <div  class="tab-pane active" id="all"><br>
              {{ macro.displayPitchList(pitches) }}
          </div>
          <div  class="tab-pane fade" id="product"><br>
              {{ macro.displayPitchList(product) }}
          </div>
          <div  class="tab-pane fade" id="sales"><br>
              {{ macro.displayPitchList(sales) }}
          </div>
          <div  class="tab-pane fade" id="pickupline"><br>
              {{ macro.displayPitchList(pickupline) }}
          </div>
          <div  class="tab-pane fade" id="personal"><br>
              {{ macro.displayPitchList(personal) }}
          </div>

{% endblock%}