{% macro displayPitchList(pitches) %}
<div class="container" >
{% if pitches %}
<div class="row tab-content">
    {% for pitch in pitches %}
    <div class="card text-center tab-pane active" style="width: 25rem; background-color:rgb(97, 94, 89); margin-bottom: 2rem; margin-right: 3rem;">
        <div class="card-body">
            <p class="card">{{ pitch.category}}</p>
            <h5 class="card-title " style="font-size: 20px;">{{ pitch.title}}</h5>
            
            <p class="card-text">{{ pitch.post}}</p>
            <p class="posted-at"> <em>posted at: {{pitch.time}}</em></p>
            <a href="#" class="btn btn-outline-info btn-block">Comment</a>
            <a href="#" class="btn">upvote</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="card w-90 mb-3">
        <div class="card-body">
            <p class="card-title">Category Has 0 posts</p>
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endmacro %} 








































